.App {
  text-align: center;
  background: rgb(196,186,163);
  background: linear-gradient(0deg, #C5BAA3 0%, #534E53 70%);
  min-height: 100vh;
  overflow: hidden;
}

.Banner {
  display: flex;
  flex-direction: column;    
  align-items: center;
}

.logo{
  position: static;
  max-width: 80%;
  min-height: fit-content;
  align-self:flex-start;
  z-index: 1;
}

.clouds {
  display: flex;
  flex-wrap: wrap;
  min-width: 110vw;
  margin-top: -5%;
  z-index: 0;
  justify-content: center;
  align-items: flex-end;
}

img.cloud {
  position: relative;
  margin: -35px;
  max-height: 15%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Body Nav */

a {
  text-decoration: none;
}

.nav-btns {
  display: flex;
  justify-content: center;
}

a.nav-btn {
  display: flex;  
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  width: 90px;
  font-size: 14px;
  background-color: #d1d1d1;
  color: #857588;
  margin: 15px;
  border-radius: 50%;
  z-index: 2;
}

a.nav-btn:focus {
  order: 2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}

.body {
  background-color: #534E53;
}