@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Michroma&family=Montserrat:wght@200&family=Syncopate:wght@400;700&display=swap");

.App {
  text-align: center;
  background-color: #dfd9df;
  background-repeat: no-repeat;
  background-position-y: 20%;
  background-size:110%;
  background-position-x: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* ------------------------ */
/* -------- BANNER -------- */
/* ------------------------ */

.Banner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Banner h1 {
  font-size: 10rem;
  line-height: 0.8em;
  padding: 8rem;
  line-height: 9rem;
  font-family: 'lilita one', sans-serif;
  overflow: hidden;
  display: block;

  background: linear-gradient(to right, rgb(255, 230, 180) 0%, rgb(92, 92, 201) 30%, rgb(206, 153, 178) 60%, rgb(188, 237, 204) 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.tree {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-105%, -100%);
}

.boulders {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(150%, -40%);
}

.palm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(150%, 60%);
}
.smiley {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 30%);
}
/* ------------------------ */
/* -------- ACCORDION NAV -------- */
/* ------------------------ */

.nav-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nav-btn {
  display: flex;
  flex-direction:column;
  padding: 1em;
  background-color: rgb(4, 0, 36);
  font-weight: 400;
  font-size: 2.5em;
  color: #dfd9df;
  font-family: 'Syncopate', sans-serif;
  cursor: pointer;
}

.nav-btn:hover{
  background-color: rgb(28, 16, 121);
  transition: 0.6s ease;
}

.nav-btn:active{
  background-color: rgb(28, 16, 121);
}

.nav-content {
  display: flex;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all 600ms ease-in-out;
}

.nav-content.show {
  height: 40em;
  opacity: 1;
  transition: all 600ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}
/* Development */

/* Slider */